.dashboard_container{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #e5e5e5;
}

/*PDS CONTENT*/
.dashboard_container .main_content{
    flex-grow:1;
    height: 100vh;
    width: auto;

}
.dashboard_container .main_content .stepper_container{
    height: 10vh;
    width: 100%;
    background-color: #EFF4F9;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dashboard_container .main_content .stepper_container .stepper{
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dashboard_container .main_content .stepper_container .stepper .circle{
    height: 20px;
    width: 20px;
    background-color: #C2C9CB;
    color: #ffff;
    border-radius: 50%;
    font-size: .7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.dashboard_container .main_content .stepper_container .stepper p{
    margin: 0;
    color: #C2C9CB;
    font-size: .8rem;
}

.dashboard_container .main_content .stepper_container .stepper1{
    background-color: #FFAA28;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.dashboard_container .main_content .stepper_container .stepper1 .circle{
    background-color: #ffff;
    color:#FFAA28;
}
.dashboard_container .main_content .stepper_container .stepper1 p{
    color: #ffff;
}

.dashboard_container .main_content .stepper_container button{
    font-size: 1rem;
    padding: 8px 25px;
    border-radius: 20px;
    border: none;
    margin: 0 5%;
    font-weight: 600;
}
.dashboard_container .main_content .stepper_container button:hover{
    opacity: 70%;
}
.dashboard_container .main_content .stepper_container .back_stepper{
    color: #E55858;
    background-color: transparent;
}
.dashboard_container .main_content .stepper_container .next_stepper{
    color: #ffff;
    background-color: #FFAA28;
}

.dashboard_container .main_content .form_container{
    height: 80vh;
    width: 100%;
    background-color: #e5e5e5;
    overflow-y: scroll;
}
.dashboard_container .main_content .form_container::-webkit-scrollbar {
    width: 4px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
.dashboard_container .main_content .form_container::-webkit-scrollbar-track {
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
.dashboard_container .main_content .form_container::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    background: #FFAA28; 
}
.dashboard_container .main_content .form_container::-webkit-scrollbar-thumb:window-inactive {
    background: transparent; 
}

.dashboard_container .main_content .form_container .step_content{
    margin: 0 auto;
    width: 90%;
    height: auto;
    padding: 1rem 0;
    display: none;
}
.dashboard_container .main_content .form_container .step_content .step_text{
    font-size: 1.8rem;
    color: #8A8A8A;
    text-align: center;
}
.dashboard_container .main_content .form_container .step_content .step_desc{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.1;
    color: #666666;
    text-align: center;
}

.form_container .p_consent{
    margin: 0 5%;
}

.info_div{
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 100%;
    height: auto;
    background: #FFAA28; 
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffff;
    padding: 15px 0;
    border-left: 10px solid rgb(254, 201, 104);
    line-height: 1;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.info_div img{
    height: 40px;
    width: auto;
    margin-left: 30px;
    margin-right: 15px;
}

.pds_input{
    width: 350px;
    margin: 0 10px !important;
    margin-bottom: 30px !important;
}
.pds_inputEduc{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 10px !important;
    margin-bottom: 30px !important;
}
.civil_license{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 10px !important;
    margin-bottom: 30px !important;
}
.pds_inputEducSemi1{
    float: left;
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 0 10px !important;
    margin-bottom: 30px !important;
}
.civil_license h3{
    color: #494949;
    margin-bottom: 30px !important;
}
.pds_inputEducSemi{
    float: left;
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 0 10px !important;
    margin-bottom: 30px !important;
}
.pds_inputEducSemi5{
    float: left;
    display: flex;
    flex-direction: column;
    width: 450px;
    margin: 0 10px !important;
    margin-bottom: 30px !important;
}
.pds_inputEducSemi2{
    float: left;
    display: flex;
    flex-direction: column;
    width: 450px;
    margin: 0 10px !important;
    margin-bottom: 30px !important;
}

.line_educ{
    height: .1rem;
    width: 100%;
    margin: 0px 10px;
    margin-bottom: 30px;
    background-color: #FFAA28; 
    clear: both;
}
.line_educ1{
    height: .1rem;
    width: 100%;
    margin: 0px 10px;

    background-color: #FFAA28; 
}
.entry_button{
    height: auto;
    width: 100%;
    margin: 0 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-end;
}
.entry_button button{
    border: none;
    font-size: 1rem;
    padding: 5px 20px;
    margin-left: 10px;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.entry_button button:hover{
    opacity: 70%;
}
.entry_button button:nth-child(1){
    color: #E55858;
    background-color: #f5f5f5;
}
.entry_button button:nth-child(2){
    background-color: #E55858;
    color: #ffff;
}
.pds_inputAGE{
    width: 350px;
    margin: 0 10px !important;
    margin-bottom: 30px !important;
    border: 1px solid rgb(161, 160, 160);
    font-size: 1rem;
    padding: 15px 0;
    border-radius: 4px;
    text-indent: 10px;
}
.address_input{
    font-size: 1rem;
    width: 350px;
    margin: 0 10px !important;
    margin-bottom: 30px !important;
}
.address_input label{
    font-size: 1rem;
    color: rgb(47, 47, 46);
}
.address_input select{
    width: 100%;
    border-radius: 4px;
    background-color: transparent;
    font-size: 1rem;
    padding: 15px 0;
    text-indent: 10px;
    outline-color: coral;
    border: 1px solid #b2b2b2;
}
.address_input input{
    width: 100%;
    border-radius: 4px;
    background-color: transparent;
    font-size: 1rem;
    padding: 15px 0;
    text-indent: 10px;
    outline-color: coral;
    border: 1px solid #b2b2b2;
}
.address_check{
    display: none;
}
.address_check input{
    outline: none;
}

.file_input{
    font-size: 1rem;
    width: 100%;
    margin: 0 10px !important;
    margin-bottom: 30px !important;
    margin-top: -.8rem !important;
}
.file_input label{
    font-size: .8rem;
    color: rgb(64, 64, 64);
}   
.file_input input{
    width: 100%;
    border-radius: 4px;
    background-color: transparent;
    font-size: 1rem;
    padding: 15px 0;
    text-indent: 10px;
    border: 1px solid #b2b2b2;
}



#contact_validator{
    color: red;
    visibility: hidden;
    font-size: .9rem;
}

.dateSchool_input{
    float: left;
    font-size: 1rem;
    width: 450px;
    margin: 0 10px !important;
    margin-bottom: 25px !important;
    margin-top: -10px !important;
}
.dateSchool_input label{
    font-size: .9rem;
    color: rgb(39, 38, 38);
}
.dateSchool_input .add_inp11{
    width: 100%;
    border-radius: 4px;
    background-color: transparent;
    font-size: 1rem;
    padding: 15px 0;
    text-indent: 10px;
    outline-color: coral;
    border: 1px solid #b2b2b2;
}

.dateSchool_input22{
    float: left;
    font-size: 1rem;
    width: 600px;
    margin: 0 10px !important;
    margin-bottom: 25px !important;
    margin-top: -10px !important;
}
.dateSchool_input22 label{
    font-size: .9rem;
    color: rgb(39, 38, 38);
}
.dateSchool_input22 .add_inp11{
    width: 100%;
    border-radius: 4px;
    background-color: transparent;
    font-size: 1rem;
    padding: 15px 0;
    text-indent: 10px;
    outline-color: coral;
    border: 1px solid #b2b2b2;
}

.dateSchool_input11{
    float: left;
    font-size: 1rem;
    width: 350px;
    margin: 0 10px !important;
    margin-bottom: 25px !important;
    margin-top: -10px !important;
}
.dateSchool_input11 label{
    font-size: .9rem;
    color: rgb(39, 38, 38);
}
.dateSchool_input11 .add_inp11{
    width: 100%;
    border-radius: 4px;
    background-color: transparent;
    font-size: 1rem;
    padding: 15px 0;
    text-indent: 10px;
    outline-color: coral;
    border: 1px solid #b2b2b2;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}



/*Modal PDS*/
.pds_validator{
    margin: 0 auto;
    margin-bottom: 1rem;
    margin-top: -2rem;
    width: 90%;
    display: none;
    height: auto;
    overflow: hidden;
    background: #ffffff; 
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.pds_validator .pds_validation .top{
    width: 100%;
    background-color: rgb(254, 56, 56);
    padding: 15px 0;
}
.pds_validator .pds_validation .top p{
    color: #ffff;
    margin-left: 3%;
    font-size: 1rem;
}
.pds_validator .pds_validation .semitop{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.pds_validator .pds_validation .semitop img{
    height: 25px;
    width: auto;
    margin-left: 5%;
    margin-right: 7px;
}
.pds_validator .pds_validation .semitop p{
    margin: 0;
}
.pds_validator .pds_validation .content{
    display: flex;
}
.pds_validator #list_of_errors{
    margin: 0 10%;
    width: 70%;
    margin-top: 10px;
    padding-bottom: 20px;
    z-index: 1;
}
.pds_validator .pds_validation .right{
    width: 30%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.pds_validator .pds_validation .right img{
    height: 250px;
    width: auto;
    z-index: 0;
}

.pds_review_container{
    margin: 0% auto;
    max-width: 80vw;
    height: auto;
    overflow-x: scroll;
}
.pds_review_container::-webkit-scrollbar {
    height: 5px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
.pds_review_container::-webkit-scrollbar-track {
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
.pds_review_container::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    background: #FFAA28; 
}
.pds_review_container::-webkit-scrollbar-thumb:window-inactive {
    background: transparent; 
}


/*PDS Preview*/
.pds_review_container .pds_preview{
    margin: 0% auto;
    width: 900px;
    height: auto;
    padding: 40px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.pds_review_container .pds_preview .top{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;    
}
.pds_review_container .pds_preview .top .left{
    width: auto;
    display: flex;
    align-items: center;
}
.pds_review_container .pds_preview .top .left img{
    height: 50px;
    width: auto;
    margin-right: 10px;
}
.pds_review_container .pds_preview .top .right p{
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.1;
}
.pds_review_container .information_content{
    margin-top: 2rem;
    height: auto;
    width: 100%;
}
.pds_review_container .information_content .header{
    color: #ffff;
    background-color: black;
    font-size: 1.3rem;
    font-weight: bold;
    text-indent: 10px;
    text-transform: uppercase;
    padding: 1rem 0;
}
.pds_review_container .information_content .personal{
    width: 100%;
    display: flex;
}
.pds_review_container .information_content .name div{
    height: auto;
    width: 25%;
}
.pds_review_container .information_content .name div:nth-child(4){
    width: 25%;
}
.pds_review_container .box{
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    border: 1.5px solid black;
}
.pds_review_container .box span:nth-child(1){
    font-size: .9rem;
    margin-left: 30px;
    color: rgb(125, 125, 125);

}
.pds_review_container .box span:nth-child(2){
    font-size: .9rem;
    margin-left: 30px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: 600;
}

.pds_review_container .information_content .other_personal .left{
    flex-grow: 1;
    width: 20%;
}
.pds_review_container .information_content .other_personal .left .box{
    flex-grow: 1;
}
.pds_review_container .information_content .other_personal .right{
    flex-grow: 1;
}
.pds_review_container .information_content .other_personal .right .citizenship_preview{
    height: 20%;
    width: 100%;
    display: flex;
}
.pds_review_container .information_content .other_personal .right .citizenship_preview .left_citizenship{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(125, 125, 125);
    border: 1.5px solid black;
}
.pds_review_container .information_content .other_personal .right .citizenship_preview .right_citizenship{
    height: 100%;
    width: 60%;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    border: 1.5px solid black;
}
.pds_review_container .information_content .other_personal .right .address_preview{
    height: 33.6%;
    width: 100%;
    display: flex;
}
.pds_review_container .information_content .other_personal .right .zip_preview{
    margin-top: 2px;
    width: 100%;
    height: 6%;
    display: flex;
}
.pds_review_container .information_content .other_personal .right .zip_preview div:nth-child(1){
    width: 35.3%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .9rem;
    color: rgb(125, 125, 125);
    text-transform: uppercase;
    border-right: 1px solid black;
    border-left: 1px solid black;
    height: 100%;
}
.pds_review_container .information_content .other_personal .right .zip_preview div:nth-child(2){
    width: 65%;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .9rem;
    color: rgb(2, 2, 2);
    text-transform: uppercase;
    border-right: 1px solid black;
    border-left: 1px solid black;
    height: 100%;
}
.pds_review_container .information_content .other_personal .right .address_preview .left_address{
    height: 100%;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(125, 125, 125);
    border: 1.5px solid black;
}
.pds_review_container .information_content .other_personal .right .address_preview .right_address{
    height: 100%;
    width: 65%;
    color: rgb(125, 125, 125);
}
.pds_review_container .information_content .other_personal .right .address_preview .right_address .add1{
    height: 33.7%;
    width: 100%;
    display: flex;  
}
.pds_review_container .information_content .other_personal .right .address_preview .right_address .add1 .box{
    width: 50%;
}
.pds_review_container .information_content .education_content{
    height: auto;
    width: 100%;
    display: flex;
}
.pds_review_container .information_content .education_content div{
    display: flex;
    font-size: .9rem;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border: 1.5px solid black;
}
.pds_review_container .information_content .education_content .educ_level{
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.pds_review_container .information_content .education_content .educ_level .educ_period{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-top: 1.5px solid black;
    padding-top: 0;
    margin-top: 15px;
}
.pds_review_container .information_content .education_content .educ_level .educ_period div{
    width: 50%;
    font-size: .8rem;
    font-weight: normal;
    border: none;
    height: auto;
    border: none;
}
.pds_review_container .information_content .education_content .educ_name{
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.pds_review_container .information_content .education_content .educ_name_content{
    width: 85%;
    display: block;
    justify-content: flex-start;
    padding-top: 0;
    border: none;
}
.pds_review_container .information_content .education_content .educ_name_content .name_of_schooldPreview{
    width: 100%;
    flex-grow: 1;
    justify-content: flex-start;
    border: none;
    padding-top: 0;
}
.pds_review_container .information_content .education_content .educ_name_content .box_name{
    font-size: .8rem;
    height: 10vh;
    padding: 10px 10px;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
}
.pds_review_container .information_content .education_content .educ_name_content .box_name div{
    border: none;
    width: 100%;
    height: 100%;
    font-weight: normal;
    font-size: .7rem;
    text-align: center;
}
.pds_review_container .information_content .education_content .educ_name1{
    padding: 0 10px;
    font-size: .8rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.pds_review_container .information_content .education_content .educ_year{
    font-size: .8rem;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.pds_review_container .CSE_content{
    height: auto;
    width: 100%;
    display: flex;
}
.pds_review_container .CSE_content .headers{
    text-align: center;
    padding: 10px;
    height: auto;
    border: 1.5px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    font-weight: 600;
    background-color: rgb(238, 236, 236);
}
.pds_review_container .CSE_content .headers div{
    display: flex;
    height: auto;
    width: 100%;
}
.pds_review_container .CSE_content .headers div div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    width: 100%;
    height: 100%;
    border-top: 1px solid black;
    font-weight: normal;
}
.pds_review_container .CSE_content .CSE_box{
    font-size: .9rem;
    padding: 10px;
    height: auto;
    text-align: center;
    border: 1.5px solid black;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pds_review_container .CSE_content .CSE_box div{
    font-size: .8rem;
    padding: 0 5%;
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    word-break: break-all;
}
.pds_review_container .WE_content{
    height: auto;
    width: 100%;
    display: flex;
}
.pds_review_container .WE_content .headers{
    text-align: center;
    padding: 10px;
    height: auto;
    border: 1.5px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    font-weight: 600;
    background-color: rgb(238, 236, 236);
}
.pds_review_container .WE_content .headers div{
    display: flex;
    height: auto;
    width: 100%;
}
.pds_review_container .WE_content .headers div div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    width: 100%;
    height: 100%;
    border-top: 1px solid black;
    font-weight: normal;
}
.pds_review_container .WE_content .WE_box{
    text-align: center;
    padding: 10px;
    height: auto;
    border: 1.5px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
}
.pds_review_container .WE_content .WE_box div{
    display: flex;
    height: auto;
    width: 100%;
}
.pds_review_container .WE_content .WE_box div div{
    word-break: break-all;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
    font-weight: normal;
    padding: 0 5%;
}
.pds_review_container .LD_content{
    height: auto;
    width: 100%;
    display: flex;
}
.pds_review_container .LD_content .headers{
    text-align: center;
    padding: 10px;
    height: auto;
    border: 1.5px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    font-weight: 600;
    background-color: rgb(238, 236, 236);
}
.pds_review_container .LD_content .headers div{
    display: flex;
    height: auto;
    width: 100%;
}
.pds_review_container .LD_content .headers div div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    width: 100%;
    height: 100%;
    border-top: 1px solid black;
    font-weight: normal;
}
.pds_review_container .LD_content .LD_box{
    text-align: center;
    padding: 10px;
    height: auto;
    border: 1.5px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
}
.pds_review_container .LD_content .LD_box div{
    display: flex;
    height: 100%;
    width: 100%;
}
.pds_review_container .LD_content .LD_box div div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    padding: 0 5%;
    height: 100%;
    font-weight: normal;
}


/*RESPONSIVE*/
@media screen and (max-width: 850px) {
    .dashboard_container .main_content .stepper_container .stepper .circle{
        height: 30px;
        width: 30px;
        font-size: 1rem;
        margin-right: 0px;
    }
    .dashboard_container .main_content .stepper_container .stepper p{
        display: none;
    }

    .pds_validator #list_of_errors{
        width: 100%;
    }
    .pds_validator .pds_validation .right{
        display: none;
    }

    .pds_inputEducSemi{
        width: 100%;
    }

    .civil_license{
        flex-direction: column;
        align-items: flex-start;
    }
    .pds_inputEducSemi1{
        width: 100%;
    }
    .pds_inputEducSemi2{
        width: 100%;
    }
    .pds_inputEducSemi5{
        width: 100%;
    }

    .dateSchool_input{
        width: 100%;
    }
    .dateSchool_input11{
        width: 100%;
    }
    .dateSchool_input22{
        width: 100%;
    }

    /*PDS CONTENT*/
    .dashboard_container .main_content .form_container{
        height: 70vh;
    }
}