/*LIST OF USERS*/
.table_dashboard_lisUsers{
    height: auto;
    width: 80%;
    margin: 0% auto;
    margin-top: 20rem;
    padding-bottom: .7rem;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    transition: .5s ease-in;
    overflow: hidden;
}
.table_dashboard_lisUsers .top{
    width: 96%;
    height: auto;
    padding: 10px 2%;
    border-bottom: 1px solid rgb(194, 193, 193);
    display: flex;
    justify-content: space-between;
}
.table_dashboard_lisUsers .top .left{
    display: flex;
}
.table_dashboard_lisUsers .top .left span{
    font-size: 1.5rem;
    font-weight: 600;
    color: #3D3D3D;
    margin-right: 5px;
    margin-left: 10px;
}
.table_dashboard_lisUsers .top .right .btn{
    transform: rotate(-90deg);
    margin-right: 10px;
}
.table_dashboard_lisUsers .top .right .btn span{
    font-size: 2rem;
    font-weight: 600;
    color: #FFAA28; 
}
.table_dashboard_lisUsers .top .right .btn span:hover{
    cursor: pointer;
    color: #ffb84e; 
}
.see_all_faculty{
    margin-top: 1rem;
    float: right;
    background-color: #FFAA28;
    color: #fff;
    height: 5vh;
    padding: 0 20px;
    display: flex;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-right: 10%;
    margin-bottom: 5rem;
}
.see_all_faculty:hover{
    cursor: pointer;
    opacity: 70%;
}
.table_dashboard_lisUsers .th{
    height: auto;
    width: 100%;
    display: flex;
}
.table_dashboard_lisUsers .th div{
    padding: 10px 0;
}
.table_dashboard_lisUsers .th div span{
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0 20px;

}
.table_dashboard_lisUsers .th div:nth-child(1){
    width: 25%;
}
.table_dashboard_lisUsers .th div:nth-child(1) img{
    height: 30px;
    width: 30px;
    border: 1px solid rgb(70, 70, 70);
    border-radius: 50%;
    object-fit: cover;
    margin-left: 35px;
}
.table_dashboard_lisUsers .th div:nth-child(2){
    width: 27%;
    padding-left: 3%;
}.table_dashboard_lisUsers .th div:nth-child(2) 
span{
    word-break: break-all;
    margin: 0px;
}
.table_dashboard_lisUsers .th div:nth-child(3){
    width: 25%;
    display: flex;
}
.table_dashboard_lisUsers .th div:nth-child(4){
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.th_hover:hover{
    cursor: pointer;
    background-color: #eeeeee;
}



/*RESPONSIVE*/
@media screen and (max-width: 1281px) { 

    .table_dashboard_lisUsers .th div:nth-child(1){
        width: 33.33%;
    }
    .table_dashboard_lisUsers .th div:nth-child(2){
        width: 33.33%;
    }
    .table_dashboard_lisUsers .th div:nth-child(3){
        width: 33.33%;
    }
    .table_dashboard_lisUsers .th div:nth-child(4){
        display: none;
    }

}


@media screen and (max-width: 851px) { 
    .table_dashboard_lisUsers{
        width: 90%;
    }

    .table_dashboard_lisUsers .th div:nth-child(1){
        width: 33.33%;
    }
    .table_dashboard_lisUsers .th div:nth-child(2){
        width: 33.33%;
    }
    .table_dashboard_lisUsers .th div:nth-child(3){
        width: 33.33%;
    }
    .table_dashboard_lisUsers .th div:nth-child(4){
        display: none;
    }

}




/*FOR PHONE*/
@media screen and (max-width: 500px) { 
   
    .table_dashboard_lisUsers .th div:nth-child(1){
        width: 100%;
    }
    .table_dashboard_lisUsers .th div:nth-child(2){
        display: none;
    }
    .table_dashboard_lisUsers .th div:nth-child(3){
        display: none;
    }
    .table_dashboard_lisUsers .th div:nth-child(4){
        display: none;
    }
}

