/*CHOICES PDS PAGE*/
.choices_faculty_page{
    height: auto;
    width: 100%;
    margin: 0% auto;
    margin-bottom: 1rem;
    border-bottom: 2px solid #f0d09e;
    display: flex;
    justify-content: flex-start;
}
.choices_faculty_page div{
    padding: 10px 25px;
    font-size: 1.2rem;
    color: #FFAA28;
    z-index: 10000;
    border-bottom: 5px solid transparent;
}
.choices_faculty_page div:hover{
    cursor: pointer;
    color: #ffc472;
}
.choices_faculty_page #active_faculty{
    font-weight: 600;
    border-bottom: 5px solid #FFAA28;
}

.certificates_container .table_container .top .container:nth-child(3){
    height: auto;
    float: right;
    width: 350px;
    border-radius: 5px;
    display: flex;
}
#f_container3{
    justify-content: flex-end;
}
.certificates_container .table_container .top .container:nth-child(3) div{
    height: 35px;
    width: 47%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .9rem;
}
.certificates_container .table_container .top .container:nth-child(3) div form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.certificates_container .table_container .top .container:nth-child(3) div:hover{
    cursor: pointer;
    opacity: 80%;
}
.certificates_container .table_container .top .container:nth-child(3) div img{
    height: 45%;
    margin-right: 5px;
    width: auto;
}
.certificates_container .table_container .top .container:nth-child(3) div:nth-child(1){
    border: 2px solid #c2c2c2;
    color: #FFAA28;
    background-color: #ffff;
}


.faculty_imageContainer{
    height: auto;
    width: 230px;
    margin: 2rem 3rem;
}
.faculty_imageContainer .faculty_img{
    width: 230px;
    height: 230px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: .5s ease;
}
.faculty_imageContainer .faculty_img:hover{
    cursor: pointer;
    transform: scale(1.1)
}
.faculty_imageContainer .fName{
    font-size: 1.1rem;
    text-align: center;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
.faculty_imageContainer .fName img{
    height: 24px;
    width: auto;
    margin-left: 7px;
}
.faculty_imageContainer .fEmail{
    font-size: .9rem;
    color: #666666;
    text-align: center;
}

/*Table row*/
#rowTable_forSearch .header_faculty{
    height:8vh;
    width: 100%;
    display: flex;
    align-items: center;
}
#rowTable_forSearch .header_faculty .th span{
    font-size: 1rem;
    font-weight: 600;
    color: #666666;
}
#rowTable_forSearch .header_faculty .th1{
    width: 25%;
}
#rowTable_forSearch .header_faculty .th1 span{
    margin-left: 30px;
}
#rowTable_forSearch .header_faculty .th2{
    width: 25%;
}
#rowTable_forSearch .header_faculty .th2 span{
    margin-left: 30px;
}
#rowTable_forSearch .header_faculty .th3{
    width: 17.5%;
    text-align: center;
}
#rowTable_forSearch .header_faculty .th4{
    width: 17.5%;
    text-align: center;
}
#rowTable_forSearch .header_faculty .th5{
    width: 15%;
    text-align: center;
}


/*Table row*/
#rowTable_forSearch_pending .header_faculty{
    height:8vh;
    width: 100%;
    display: flex;
    align-items: center;
}
#rowTable_forSearch_pending .header_faculty .th span{
    font-size: 1rem;
    font-weight: 600;
    color: #666666;
}
#rowTable_forSearch_pending .header_faculty .th1{
    width: 25%;
}
#rowTable_forSearch_pending .header_faculty .th1 span{
    margin-left: 30px;
}
#rowTable_forSearch_pending .header_faculty .th2{
    width: 25%;
}
#rowTable_forSearch_pending .header_faculty .th2 span{
    margin-left: 30px;
}
#rowTable_forSearch_pending .header_faculty .th3{
    width: 17.5%;
    text-align: center;
}
#rowTable_forSearch_pending .header_faculty .th4{
    width: 17.5%;
    text-align: center;
}
#rowTable_forSearch_pending .header_faculty .th5{
    width: 15%;
    text-align: center;
}

.certificates_container .table_container .certficate_scrollable1 .tableRow_scrollable_container_faculty{
    height: 53vh;
    width: 100%;
    overflow-y: scroll;

}
.certificates_container .table_container .certficate_scrollable1 .tableRow_scrollable_container_faculty::-webkit-scrollbar {
    width: 4px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
.certificates_container .table_container .certficate_scrollable1 .tableRow_scrollable_container_faculty::-webkit-scrollbar-track {
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
.certificates_container .table_container .certficate_scrollable1 .tableRow_scrollable_container_faculty::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    background: #FFAA28; 
}
.certificates_container .table_container .certficate_scrollable1 .tableRow_scrollable_container_faculty::-webkit-scrollbar-thumb:window-inactive {
    background: transparent; 
}

.certificates_container .table_container .certficate_scrollable1 .tableRow_scrollable_container_faculty .header1{
    display: flex;
    padding: 15px 0;
    align-items: center;
}
.certificates_container .table_container .certficate_scrollable1 .tableRow_scrollable_container_faculty .header1 .div1{
    width: 25%;
    align-items: center;
    display: flex;
}
.certificates_container .table_container .certficate_scrollable1 .tableRow_scrollable_container_faculty .header1 .div1 img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.certificates_container .table_container .certficate_scrollable1 .tableRow_scrollable_container_faculty .header1 .div2{
    width: 25%;
    align-items: center;
    display: flex;
}
.certificates_container .table_container .certficate_scrollable1 .tableRow_scrollable_container_faculty .header1 .div2 span{
    margin-left: 30px;
}
.certificates_container .table_container .certficate_scrollable1 .tableRow_scrollable_container_faculty .header1 .div3{
    width: 17.5%;
    text-align: center;
    align-items: center;
    display: flex;
}
.certificates_container .table_container .certficate_scrollable1 .tableRow_scrollable_container_faculty .header1 .div4{
    width: 17.5%;
    text-align: center;
    align-items: center;
    display: flex;
}
.certificates_container .table_container .certficate_scrollable1 .tableRow_scrollable_container_faculty .header1 .div4 span{
    margin: 0 20px;
}
.certificates_container .table_container .certficate_scrollable1 .tableRow_scrollable_container_faculty .header1 .div5{
    width: 15%;
    align-items: center;
    display: flex;
    justify-content: center;
}
.certificates_container .table_container .certficate_scrollable1 .tableRow_scrollable_container_faculty .header1 .div5 button{
    border: none;
    font-size: .9rem;
    padding: 4px 20px;
    border-radius: 5px;
    background-color: #F4B24C;
    color: #ffff;
}
.certificates_container .table_container .certficate_scrollable1 .tableRow_scrollable_container_faculty .header1 div:nth-child(5) button:hover{
    opacity: 80%;
}


.header_faculty_pending{
 
}
.header_faculty_pending .th1a{
    width: 15%;
    text-indent: 30px;
}
.header_faculty_pending .th2a{
    width: 15%;
    text-indent: 30px;
}
.header_faculty_pending .th3a{
    width: 30%;
    text-align: center;
}
.header_faculty_pending .th4a{
    width: 15%;
    text-align: center;
}
.header_faculty_pending .th5a{
    width: 25%;
    text-align: center;
}

.header1_pending{

}
.header1_pending .div1a{
    width: 15%;
}
.header1_pending .div2a{
    width: 15%;
}
.header1_pending .div3a{
    width: 30%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.header1_pending .div4a{
    width: 15%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.header1_pending .div5a{
    width: 25%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.header1_pending .div5a button{
    border: none;
    font-size: .9rem;
    padding: 4px 20px;
    border-radius: 5px;
    background-color: #F4B24C;
    color: #ffff;
}
.header1_pending .div5a button:hover{
    opacity: 80%;
}

.no_searchFound6{
    height: 100%;
    width: 300px;
    margin: 0% auto;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    white-space: nowrap;
    font-weight: 600;
    color: #666666;
}
.no_searchFound6 img{
    margin-bottom: 5px;
    width: 80%;
    height: auto;
}
.no_searchFound7{
    height: 100%;
    width: 300px;
    margin: 0% auto;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    white-space: nowrap;
    font-weight: 600;
    color: #666666;
}
.no_searchFound7 img{
    margin-bottom: 5px;
    width: 80%;
    height: auto;
}

.no_searchFound8{
    height: 100%;
    width: 300px;
    margin: 0% auto;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    white-space: nowrap;
    font-weight: 600;
    color: #666666;
}
.no_searchFound8 img{
    margin-bottom: 5px;
    width: 80%;
    height: auto;
}

#pending_user_Table{
    display: none;
}




/*RESPONSIVE*/
@media screen and (max-width: 1025px) {

}

@media screen and (max-width: 850px) {
    .choices_pds_page{
        margin-top: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .certificates_container{
        padding-bottom: 12rem;
    }

    .certificates_container .table_container .top .container:nth-child(3){
        width: 100%;
    }

    #rowTable_forSearch .header_faculty .th1{
        width: 70%;
    }
    #rowTable_forSearch .header_faculty .th1 span{
        margin-left: 30px;
    }
    #rowTable_forSearch .header_faculty .th2{
        display: none;
    }
    #rowTable_forSearch .header_faculty .th3{
        display: none;
    }
    #rowTable_forSearch .header_faculty .th4{
        display: none;
    }
    #rowTable_forSearch .header_faculty .th5{
        width: 30%;
    }
    

  
    .certificates_container .table_container .certficate_scrollable1{
        overflow: visible;
    }
    .certificates_container .table_container .certficate_scrollable1 .tableRow_scrollable_container_faculty .header1 .div1{
        width: 70%;
        align-items: center;
        display: flex;
    }
    .certificates_container .table_container .certficate_scrollable1 .tableRow_scrollable_container_faculty .header1 .div1 img{
        height: 30px;
        width: 30px;
        border-radius: 50%;
        object-fit: cover;
        margin-left: 30px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .certificates_container .table_container .certficate_scrollable1 .tableRow_scrollable_container_faculty .header1 .div2{
        display: none;
    }
    .certificates_container .table_container .certficate_scrollable1 .tableRow_scrollable_container_faculty .header1 .div3{
        display: none;
    }
    .certificates_container .table_container .certficate_scrollable1 .tableRow_scrollable_container_faculty .header1 .div4{
        display: none;
    }
    .certificates_container .table_container .certficate_scrollable1 .tableRow_scrollable_container_faculty .header1 .div5{
        width: 30%;
    }


    .header_faculty_pending{
        
    }
    .header_faculty_pending .th1a{
        display: none;
    }
    .header_faculty_pending .th2a{
        display: none;
    }
    .header_faculty_pending .th3a{
        width: 100%;
        text-align: left;
        text-indent: 30px;
    }
    .header_faculty_pending .th4a{
        display: none;
    }
    .header_faculty_pending .th5a{
        display: none;
    }

        
    .header1_pending{
        display: flex;
        flex-direction: column;
    }
    .header1_pending .div1a{
        display: none;
    }
    .header1_pending .div2a{
        display: none;
    }
    .header1_pending .div3a{
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        display: flex;
        text-indent: 30px;
        margin-bottom: 10px;
    }
    .header1_pending .div4a{
        display: none;
    }
    .header1_pending .div5a{
        width: 100%;
        justify-content: flex-start;
    }   
    .header1_pending .div5a button:nth-child(1){
        margin-left: 30px;
    }


}