*{
    margin: 0;
    padding: 0;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body::-webkit-scrollbar {
    display: none;
}
button:hover{
    cursor: pointer;
}


/*MODAL CONTAINER*/
.modal_container{
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.288);
    position: fixed;
    inset: 0;
    z-index: 100;
    display: none;
    align-items: center;
    justify-content: center;
}
.modal_validation{
    width: auto;
    height: auto;
    padding: 20px 10px;
    margin: 20px;
    background-color: #ffff;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-animation: scale-up-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) ;
    animation: scale-up-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) ;
}
@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
.modal_validation .emailVal_img{
    height: 20vh;
    width: auto;
    margin-top: 5%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.modal_validation .val_header{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #2B2B2B;
    font-size: 2rem;
    margin-top: 3%;
}
.modal_validation .val_subtext{
    margin: 0;
    margin-top: 2%;
    font-family: 'Poppins', sans-serif;
    font-size: .9rem;
    text-align: center;
    line-height: 1.3;
    max-width: 55%;
}
.modal_validation .modal_close_btn{
    height: 6vh;
    width: 40vh;
    padding: 0 ;
    background-color: #FFAA28;
    border: none;
    border-radius: 8px;
    display: flex;
    color: #ffff;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    margin-top: 6%;
    margin-bottom: 5%;
}
.modal_validation .modal_close_btn:hover{
    opacity: 70%;
}


/*NAVBAR SIZE*/
.navbar_sizer{
    top: 5vh;
    width: auto;
    position: sticky;
}
.left_nav_sizer{
    padding: 5px;
    height: 40px;
    width: 45px;
    background-color: #ffaa28;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    color: #ffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.left_nav_sizer:hover{
    cursor: pointer;
    background-color: #fcb853;
}
.left_nav_sizer span{
    -webkit-animation: slide-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite;
    animation: slide-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite;
}
@-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-5px);
      transform: translateX(-5px);
    }
  }
  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-5px);
      transform: translateX(-5px);
    }
}
.right_nav_sizer{
    padding: 3px;
    height: 3.5vh;
    width: 7vh;
    background-color: #ffaa28;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    color: #ffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.right_nav_sizer:hover{
    cursor: pointer;
    background-color: #fcb853;
    opacity: 80%;
}
.right_nav_sizer span{
    margin-bottom: 5%;
	-webkit-animation: slide-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite ;
	 animation: slide-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite;
}


.right_nav_sizer_Open{
    top: 4.5vh;
    padding: 5px;
    height: 45px;
    width: 80px;
    background-color: #ffff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    color: #ffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position:  fixed;
    right: 0;
}
.right_nav_sizer_Open:hover{
    cursor: pointer;
    background-color: rgb(240, 240, 240);
}
.right_nav_sizer_Open span{
    color: #ffaa28;
    margin-bottom: 2.5%;
	-webkit-animation: slide-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite ;
	 animation: slide-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite;
}
@-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
    }
}
  

/*SIDE NAVBAR FOR ALL USER*/
.navbar_account_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    height: 100vh;
    background-color: #FFFFFF;
    border-top-right-radius: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.navbar_account_container .navbar_logo_container{
    height: 8vh;
    margin-right: 10vh;
    width: 100%;  
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar_account_container .navbar_logo_container .cict_logo{
    height: 50px;
    width: auto;
    margin-right: 5%;
}
.navbar_account_container .navbar_logo_container .cict_text{
    width: auto;
    display: flex;
    flex-direction: column;
}
.navbar_account_container .navbar_logo_container .cict_text span{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 2.8rem;
    white-space: nowrap;
}
.navbar_account_container .nav_line{
    height: .01rem;
    width: 70%;
    margin: 0% auto;
    margin-bottom: 6vh;
    background-color: rgb(180, 180, 180);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.navbar_account_container .navlink_container{
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #a2b0c2;
    margin-bottom: 2%;
}
.navbar_account_container .navlink_container:hover{
    cursor: pointer;
    background-color: #fadcb0;
    transition: .2s ease-in;
}
.navbar_account_container .navlink_container > img{
    height: auto;
    width: 20px;
    margin-right: 8%;
    margin-left: 15%;
    padding: 3vh 0;
}
.navbar_account_container .nav_active{
    font-weight: bold;
    background-color: #fff2df;
    color: #4b4e52;
    border-left: 5px solid #FFAA28;
}
.navbar_account_container .logout_container{

    color: #666666;

}
.navbar_account_container .logout_container:hover{
    cursor: pointer;
    background-color: #fff2df;
    transition: .2s ease-in;
    border-radius:  20px;
}
.navbar_account_container .logout_container > img{
    height: 25px;
    width: auto;
    margin-right: 5%;
    margin-left: 15%;
}
.drawer_btn{
    display: none;
}



/*RIGHT NAVBAR PART*/
.dashboard_container .right_navbar_container{
    position: fixed;
    right: 0;
    width: auto;
    height: 100vh;
    padding: 0 2vh;
    border-top-left-radius: 30px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: .3s ease-in;
    display: block;
    margin-right: -100%;
}
.dashboard_container .right_navbar_container .right_navbar_top{
    height: auto;
    width: 100%;
    margin-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dashboard_container .right_navbar_container .theme_toggle{
    margin-left: 3vh;
    padding: 3px;
    height: 3.5vh;
    width: 7vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    transition: .5s ease-in;
}
.dashboard_container .right_navbar_container .theme_toggle .circle{
    height: 3.5vh;
    width: 3.5vh;
    margin-left: 3.5vh;
    border-radius: 50%;
    background-color: #FFE879;
    transition: .1s ease-in;
}
.dashboard_container .right_navbar_container .theme_toggle .circle:hover{
    cursor: pointer;
}
.dashboard_container .right_navbar_container .right_navbar_profile{
    background-color: rgba(255, 255, 255, 0.881);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 20px;
    padding: 3px;
    padding-left: 5px;
    margin-left: 5vh;
    margin-right: 3vh;
    width: auto;
    display: flex;
    align-items: center;
}
.dashboard_container .right_navbar_container .right_navbar_profile span{
    font-size: 1rem;
    margin-left: 1vh;
    font-weight: 600;
}
.dashboard_container .right_navbar_container .right_navbar_profile .arrow_down{
    height: 2.5vh;
    margin-left: 1vh;
    margin-right: 1vh;
    width: auto;
}
.dashboard_container .right_navbar_container .right_navbar_profile .arrow_down:hover{
    cursor: pointer;
    opacity: 70%;
}
/*RIGHT NAVBAR PART -> TASK CONTAINER*/
.dashboard_container .right_navbar_container .task_container{
    margin: 0 2vh;
    margin-top: 5vh;
    height: 45vh;
    width: 290px;
}
.dashboard_container .right_navbar_container .task_container .task_top{
    height: 15vh;
    width: 90%;
    padding: 0 5%;
    background-color: #f6bc66;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.dashboard_container .right_navbar_container .task_container .task_top .task_header{
    display: flex;
    height: 7vh;
    width: 100%;
}
.dashboard_container .right_navbar_container .task_container .task_top .task_header .left{
    display: flex;
    width: auto;
    height: 100%;
    flex-direction: column;
}
.dashboard_container .right_navbar_container .task_container .task_top .task_header .left p{
    font-size: 1.2rem;
    font-weight: 600;
    color: #ffff;
    margin: 0;
    margin-top: 3%;
}
.dashboard_container .right_navbar_container .task_container .task_top .task_header .left span{
    margin: 0;
    font-size: .8rem;
    color: #727272;
    line-height: 1;
}
.dashboard_container .right_navbar_container .task_container .task_top .task_header .right{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
    width: 40%;
    height: 100%;
}
.dashboard_container .right_navbar_container .task_container .task_top .task_header .right .task_btn{
    height: auto;
    width: auto;
    background-color: #ffa51e;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    color: #fff;
    padding: 5px 10px;
    white-space: nowrap;
}
.dashboard_container .right_navbar_container .task_container .task_top .task_header .right .task_btn:hover{
    cursor: pointer;
    opacity: 80%;
}
.dashboard_container .right_navbar_container .task_container .task_top .task_header .right img{
    height: 3vh;
    width: auto;
    margin-right: -2%;
}
.dashboard_container .right_navbar_container .task_container .task_top .task_header .right img:hover{
    cursor: pointer;
    opacity: 80%;
}
.dashboard_container .right_navbar_container .task_container .task_calendar{
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dashboard_container .right_navbar_container .task_container .task_calendar .date{
    width: 13%;
    margin: 0 .6%;
    height: 6vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    border-radius: 15px;
}
.dashboard_container .right_navbar_container .task_container .task_calendar .date_today{
    background-color: #ffff;
}
.dashboard_container .right_navbar_container .task_container .task_calendar .date p:nth-child(1){
    font-size: .9rem;
    margin: 0;
    color: #333333;
    font-weight: 600;
}
.dashboard_container .right_navbar_container .task_container .task_calendar .date p:nth-child(2){
    font-size: .8rem;
    margin: 0;
    color: #666666;
}
.dashboard_container .right_navbar_container .task_container .task_content{
    height: 30vh;
    width: 90%;
    padding: 0 5%;
    background-color: #fad397;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow-y: scroll;
}  
.dashboard_container .right_navbar_container .task_container .task_content::-webkit-scrollbar {
    width: 5px;
}
.dashboard_container .right_navbar_container .task_container .task_content::-webkit-scrollbar-track {
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
.dashboard_container .right_navbar_container .task_container .task_content::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    background:  #FFAA28;
}
/*RIGHT NAVBAR PART -> TASK BOX*/
.dashboard_container .right_navbar_container .task_container .task_box{
    height: 70px;
    width: 100%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dashboard_container .right_navbar_container .task_container .task_box:hover{
    cursor: pointer;
    opacity: 80%;
}
.dashboard_container .right_navbar_container .task_container .task_box span{
    font-size: .8rem;
    width: 24%;
}
.dashboard_container .right_navbar_container .task_container .task_box .task_description{
    flex-grow: 1;
    height: 100%;
    margin-left: 5%;
    border-radius: 12px;
    background-color: #FBEFD2;
}
.dashboard_container .right_navbar_container .task_container .task_box:nth-child(even) .task_description:nth-child(even){
    background-color: #B0A0FF;
}
.dashboard_container .right_navbar_container .task_container .task_box .task_description .top{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 5%;
    font-size: .8rem;
    font-weight: 600;
    color: #FFAA28;
}
.dashboard_container .right_navbar_container .task_container .task_box:nth-child(even) .task_description:nth-child(even) .top{
    color: #ffff;
}
.dashboard_container .right_navbar_container .task_container .task_box .task_description .top .task_icon{
    height: 3vh;
    width: 3vh;
    background-color: #FFAA28;
    border-radius: 50%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5%;
}
.dashboard_container .right_navbar_container .task_container .task_box:nth-child(even) .task_description:nth-child(even) .top .task_icon{
    background-color: white;
}
.dashboard_container .right_navbar_container .task_container .task_box .task_description .top .task_icon img{
    height: 40%;
    width: auto;
}
.dashboard_container .right_navbar_container .task_container .task_box:nth-child(even) .task_description:nth-child(even) .top .task_icon img{
    filter: grayscale(100%) brightness(50%) sepia(50%) hue-rotate(-100deg) saturate(500%) contrast(1);
}
.dashboard_container .right_navbar_container .task_container .task_box .task_description .task_text{
    margin-left: 10%;
    margin-right: 10%;
    font-size: .8rem;
    color: #FFAA28;
}
.dashboard_container .right_navbar_container .task_container .task_box:nth-child(even) .task_description:nth-child(even) .task_text{
    color: #FFFF;
}
/*RIGHT NAVBAR PART -> ACTIVITY LOG CONTAINER*/
.activitylog_container{
    width: 290px;
    margin: 0 2vh;
    height: 6vh;
    border-radius: 15px;
    margin-top: 10%;
    background-color: #fec97b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
}
.activitylog_container span{
    font-size: 1rem;
    margin-left: 5%;
    color: #5C3902;
}
.MoreHorizIcon:hover{
    cursor: pointer !important;
}
.activitylog_content{
    width: 290px;
    height: 25vh;
    margin: 0 2vh;
    margin-top: 4%;    
    overflow-y: scroll;
}
.activitylog_content::-webkit-scrollbar {
    width: 5px;
}
.activitylog_content::-webkit-scrollbar-track {
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
.activitlog_content::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.856);
}
.activitylog_content .activity_box{
    margin: 0% auto;
    margin-bottom: 4%;
    display: flex;
    height: 70px;
    width: 90%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.856);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: .5s ease-in;
}
.activitylog_content .activity_box:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.993);
}
.activitylog_content .activity_box .left{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.activitylog_content .activity_box .left img{
    height: 70%;
    width: 70%;
}
.activitylog_content .activity_box .right{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.activitylog_content .activity_box .right span:nth-child(1){
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.1;
}
.activitylog_content .activity_box .right span:nth-child(2){
    font-size: .8rem;
    font-weight: 600;
    color: #3D3D3D;
    line-height: 1.2;
}
.activitylog_content .activity_box .right span:nth-child(3){
    font-size: .8rem;
    color: #8A8A8A;
    line-height: 1.5;
}



/*MODAL CONTAINER ->FOR TASK*/
.task_modal{
    width: auto;
    height: auto;
    padding: 20px 25px;
    margin: 20px;
    background-color: #ffff;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    -webkit-animation: scale-up-center 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) ;
    animation: scale-up-center 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) ;
}
.task_modal .top{
    height: auto;
    width: auto;
    display: flex;
}
.task_modal .top img{
    height: 8vh;
    width: auto;
    margin-right: 2vh;
}
.task_modal .top .header{
    display: flex;
    flex-direction: column;
}
.task_modal .top .header p:nth-child(1){
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 4%;
    line-height: 1;
    margin-bottom: .5vh;
}
.task_modal .top .header p:nth-child(2){
    line-height: 1;
    font-size: .9rem;
}
.task_modal .top .close_btn{
    margin-left: 5vh;
    height: 100%;
    font-size: 2rem;
    font-weight: bold;
    line-height: .9;
}
.task_modal .top .close_btn span:hover{
    cursor: pointer;
    opacity: 80%;
}
.task_modal .task_form{
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    width: 100%;;
}
.task_modal .task_form label{
    font-size: 1rem;
    color: #616263;
    margin-top: 1vh;
}
.task_modal .task_form .task_input{
    font-size: .9rem;
    text-indent: 10px;
    padding: 5px 0;
    border: 1px solid rgb(206, 206, 206);
    background-color: #f8f6f6;
    border-radius: 5px;
}
.task_modal .task_form textarea{
    font-size: .9rem;
    height: 10vh;
    resize: none;
}
.task_modal .submit_container{
    margin-top: 3vh;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.task_modal .submit_container button:nth-child(2){
    height: auto;
    width: auto;
    padding: 5px 20px ;
    background-color: #FFAA28;
    border: none;
    border-radius: 5px;
    display: flex;
    color: #ffff;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    margin-left: 2vh;
    border: 2px solid  #FFAA28;
}
.task_modal .submit_container button:nth-child(1){
    height: auto;
    width: auto;
    padding: 5px 20px ;
    background-color: transparent;
    border: none;
    border: 2px solid  #FFAA28;
    border-radius: 5px;
    display: flex;
    color: #FFAA28;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    margin-left: 2vh;
}
.task_modal .submit_container button:hover{
    opacity: 70%;
}


/*SEE ALL TASK CONTAINER*/
.see_all_task_container{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 90vh;
    width: 100%;
    background-color: #ffff;
    position: fixed;
    bottom:-100%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .3s ease-in;
}
.see_all_task_container .top{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    height: auto;
}
.see_all_task_container .header{
    font-size: 2rem;
    font-weight: 600;
    margin-left: 5%;
    line-height: 1;
    color: #FFAA28;
}
.see_all_task_container .close_btn{
    font-size: 6vh;
    margin-right: 50px;
    display: flex;
    align-items: flex-end;
}
.see_all_task_container .close_btn span{
    position: absolute;
    transform: rotate(90deg);
    color: #FFAA28;
    -webkit-animation: slide-bottom 1.5s ease infinite;
	animation: slide-bottom 1.5s ease  infinite;

}
@-webkit-keyframes slide-bottom {
    0% {
      margin-bottom: 0;
    }
    100% {
      margin-bottom: -.5rem;
    }
  }
  @keyframes slide-bottom {
    0% {
        margin-bottom: 0;
    }
    100% {
        margin-bottom: -.5rem;
    }
}
.see_all_task_container .close_btn span:hover{
    cursor: pointer;
    color: #f8ca85;
}
.see_all_task_container .search_container{
    margin: 1rem 0;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.see_all_task_container .search_container .search_input_container{
    width: 300px;
    height: 45px;
    margin-right: 5%;
    margin-left: 5%;
    display: flex;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: hidden;
    background-color: #dfe6f1;
}
.see_all_task_container .search_container .search_input_container .left{
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.see_all_task_container .search_container .search_input_container .left img{
    height: 45%;
    width: auto;
}
.see_all_task_container .search_container .search_input_container input{
    height: 100%;
    width: auto;
    border: none;
    flex-grow: 1;
    background-color: #dfe6f1;
    outline: none;
    font-size: 1rem;
}
.see_all_task_container  .content{
    flex-grow: 1;
    height: auto;
    width: 100%;
    overflow-y: scroll;
}
.see_all_task_container  .content::-webkit-scrollbar {
    width: 5px;
}
.see_all_task_container  .content::-webkit-scrollbar-track {
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
.see_all_task_container  .content::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    background:  #FFAA28;
}
.see_all_task_container .content .ul_task{
    margin-top: 2rem;
    height: auto;
    width: 100%;
}
.see_all_task_container .content .ul_task .task_box_container{
    margin: 0 30px;
    margin-top: 0rem;
    margin-bottom: 3rem;
    height: 300px;
    width: 300px;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    overflow: hidden;
}
.see_all_task_container .content .ul_task .task_box_container:nth-child(1n+1){
    background-color: #fab856;
    border-left: 5px solid #fc9700;
}
.see_all_task_container .content .ul_task .task_box_container:nth-child(2n+2){
    background-color: #ff7191;
    border-left: 5px solid #f92b5b;
}
.see_all_task_container .content .ul_task .task_box_container:nth-child(3n+3){
    background-color: #a396d6;
    border-left: 5px solid #6852be;
}
.see_all_task_container .content .ul_task .task_box_container .date_container{
    height: 10%;
    width: 100%;
    margin-top: 15%;
    margin-bottom: 10%;
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #ffff;
}
.see_all_task_container .content .ul_task .task_box_container .date_container img{
    height: 80%;
    width: auto;
    margin-left: 8%;
    margin-right: 2%;
}
.see_all_task_container .content .ul_task .task_box_container .title{
    color: #ffff;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0 8%;
    line-height: 1;
    margin-bottom: 2%;
}
.see_all_task_container .content .ul_task .task_box_container .description{
    color: rgb(238, 235, 235);
    font-size: .9rem;
    margin: 0 8%;
    line-height: 1.1;
    margin-bottom: 3%;
}
.see_all_task_container .content .ul_task .task_box_container .link{
    color: rgb(238, 235, 235);
    font-size: .9rem;
    margin: 0 8%;
    line-height: 1.1;
    margin-bottom: 5%;
}
.no_record_found{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.no_record_found img{
    height: 200px;
    margin-bottom: 5%;
    margin-top: 5%;
}
.no_record_found p{
    font-size: 1.5rem;
    color: rgb(103, 102, 102);
}


/*RESPONSIVE*/
@media screen and (max-width: 799px) {
    .modal_validation .val_subtext{
        max-width: 80%;
    }
}


@media screen and (max-width: 850px) {
    .navbar_sizer{
        justify-content: flex-end;
    }
    .left_nav_sizer{
        display: none;
    }
    .right_nav_sizer_Open{
        display: none;
    }


    /*SIDE NAVBAR FOR ALL USER*/
    .navbar_account_container{
        position: fixed;
        top: auto;
        bottom: 0;
        width: 100%;
        height: auto;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
    }
    .navbar_account_container .nav_part1, .navbar_account_container .logout_container{
        display: none;
    }
    .navbar_account_container .nav_part2{
        margin-bottom: 0;
        width: 100%;
        height: 10vh;
        display: flex;
    }
    .navbar_account_container .navlink_container{
        height: 100%;
        padding: 0;
        width: 25%;
        justify-content: center;
        margin-bottom: 0;
    }
    .navbar_account_container .nav_active{
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
    }
    .navbar_account_container .navlink_container span{
        display: none;
    }
    .navbar_account_container .navlink_container:hover{
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
    }
    .drawer_btn{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        height: 9vh;
        width: 9vh;
        position: absolute; 
        left: 0; 
        right: 0; 
        bottom: 5.5vh;
        margin-left: auto; 
        margin-right: auto;    
        background-color: #FFFFFF;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        -webkit-animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite ;
        animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite ;
    } 
    .drawer_btn img{
        height: 5vh;
    }
    .drawer_btn:hover{
        opacity: 80%;
    }
    @-webkit-keyframes slide-top {
        0% {
          -webkit-transform: translateY(0);
          transform: translateY(0);
        }
        100% {
          -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
        }
      }
      @keyframes slide-top {
        0% {
          -webkit-transform: translateY(0);
          transform: translateY(0);
        }
        100% {
          -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
        }
      }

    /*RIGHT NAVBAR PART*/
    .right_navbar_container{
        position: fixed;
        right: 0;
        margin-right: -170%;
    }
    .right_nav_sizer_smaller{
        display: flex;
    }

    /*RIGHT NAVBAR PART -> TASK CONTAINER*/
    .dashboard_container .right_navbar_container .task_container{
        margin: 0 2vh;
        margin-top: 5vh;
        height: 45vh;
        width: 290px;
    }
    .dashboard_container .right_navbar_container .task_container .task_top{
        height: 20vh;
    }
    .dashboard_container .right_navbar_container .task_container .task_top .task_header{
        display: flex;
        height: 10vh;
    }
    .dashboard_container .right_navbar_container .task_container .task_calendar{
        height: 10vh;
    }
    .dashboard_container .right_navbar_container .task_container .task_calendar .date{
        height: 8vh;
    }
    .dashboard_container .right_navbar_container .task_container .task_content{
        height: 25vh;
    }  
}


.profile_drawer_container{
    height: auto;
    width: 100%;
    display: flex;
}
.profile_drawer_container .left{
    height: 10vh;
    margin-left: 5%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile_drawer_container .left img{
    height: 8vh;
    width: 7vh;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    object-fit: cover;
}
.profile_drawer_container .right{
    height: 10vh;
    margin-left: 2%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profile_drawer_container .right span{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-size: 1rem;
    line-height: 1.3;
}
.profile_drawer_container .right span:nth-child(1){
    font-weight: bold;
}
.profile_drawer_container .right p{
    margin: 0;
    color: #4b4e52;
    font-size: .9rem;
}
.line_drawer{
    height: .01rem;
    width: 90%;
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 4%;
    background-color: gray;
}
.drawer_link{
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    padding: .8% 0;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.1rem;
    font-weight: 400;
}
.drawer_link:hover{
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}
.drawer_link img{
    margin-right: 2%;
    height: 3.5vh;
    width: auto;
    padding: 1%;
    background-color: #ecedf0;
    border-radius: 50%;
}
.drawer_link span{
    margin: 0%;
    margin-left: auto;
    font-size: 2rem;
    font-weight: 800;
    color: #353434;
}

.logout_link{
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    padding: .8% 0;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 1.1rem;
    font-weight: 400;
}
.logout_link:hover{
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}
.logout_link img{
    margin-right: 2%;
    height: 3.5vh;
    width: auto;
    padding: 1%;
}

.drawer_footer{
  height: auto;
  padding-top:  2%;
  padding-bottom: 1%;
  width: 80%;
  margin: 0% auto;
}
.drawer_footer img{
  height: 4vh;
  width: auto;
  margin-right: 1%;
  margin-bottom: 1%;
}
.drawer_footer span{
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #797878;
  line-height: 1;
  text-align: center;
  margin-bottom: 1%;
}


