.login_container{
    height: 100vh;
    width: 100%;
    background-color: #FFAA28;
    overflow: hidden;
}
/*HOME CONTAINER BTN*/
.home_container_btn{
    z-index: 4;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    left: 0;
    top: 5%;
    background-color: #ffff;
    padding: .5% 0;
    padding-right: 1%;
    padding-left: .5%;
    font-size: 0rem;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: .3s ease-in;
}
.home_container_btn img{
    height: 3.5vh;
    width: auto;
    margin-right: 5%;
}
.home_container_btn:hover{
    font-size: 1rem;
    background-color: rgb(75, 75, 75);
    cursor: pointer;
    color: #ffff;
}
.home_container_btn span{
    color: #ffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}
/*CICT TEXT BG*/
.login_container > .cict_text_container{
    height: auto;
    overflow: hidden;
    position: absolute;
    width: 100%;
}
.login_container > .cict_text_container > .cict_text{
    height: 25vh;
    width: auto;
}
.login_container > .cict_text_container1{
    top : 5%;
}
.login_container > .cict_text_container2{
    top : 35%;
}
.login_container > .cict_text_container3{
    top : 65%;
}
.login_container > .cict_text_container > .cict_text1{

}
.login_container > .cict_text_container > .cict_text2{
    margin-left: 5%;
}

  

  
  
/*IMAGE ROUNDER*/
.img_rounder_container{
    height: auto;
    width: auto;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    padding-bottom: 2%;
}
.img_rounder_container > img{
    height: 98vh;
    width: auto;
    margin-top: -35%;
    margin-left: 40%;
    animation: rotation 50s infinite linear;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}
/*LOGIN FORM*/
.login_form_container{
    position: absolute;
    inset: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-animation: scale-up-center .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.login_form_container .login_form{
    height: auto;
    width: 100%;
    border-radius: 40px;
    background-color: #ffff;
    display:flex;
}
.login_form_container .login_form > .left,
.login_form_container .login_form > .right{
    width: 50%;
    height: auto;
}
.login_form_container .login_form > .left .left_container{
    height: 100%;
    width: 80%;
    margin: 0% auto;
}
.login_form_container .login_form > .left .left_container h1{
    font-family: 'Poppins', sans-serif;
    color: #2B2B2B;
    font-size: 2rem;
    margin-top: 10%;
}
.login_form_container .login_form > .left .left_container .subtext{
    font-family: 'Poppins', sans-serif;
    color: #B9B9B9;
    font-size: 1rem;
    margin-top: 1%;
}
.login_form_container .login_form > .left > .left_container .input_container{
    height: 6vh;
    width: 100%;
    background-color: #f3f2f2;
    border: 1px solid #D8D8D8;
    border-radius: 8px;
    display: flex;
}
.login_form_container .login_form > .left > .left_container .input_container > .icon_container{
    width: 13%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login_form_container .login_form > .left > .left_container .input_container > .icon_container > img{
    height: 40%;
    width: auto;
}
.login_form_container .login_form > .left > .left_container .input_container > input{
    border: none;
    outline: none;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-size: .9rem;
    height: 100%;
    width: 85%;
}
.login_form_container .login_form > .left > .left_container .input_container1{
    margin-top: 10%;
}
.login_form_container .login_form > .left > .left_container .input_container2{
    margin-top: 6%;
}
.login_form_container .login_form > .left > .left_container .input_container2 > input{
    width: 75%;
}
.login_form_container .login_form > .left > .left_container .input_container2 .toggle_password{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login_form_container .login_form > .left > .left_container .input_container2 .toggle_password img{
    height: 35%;
    width: auto;
    visibility: hidden;
}
.login_form_container .login_form > .left > .left_container .input_container2 .toggle_password .close_eye{
   display: none;
}
.login_form_container .login_form > .left > .left_container .input_container2 .toggle_password img:hover{
    cursor: pointer;
    opacity: 40%;
}
.login_form_container .login_form > .left > .left_container .remember_forgot_container{
    height:auto;
    width: 100%;
    margin-top: 3%;
    display: flex;
    align-items: center;
}
.login_form_container .login_form > .left > .left_container .remember_forgot_container .left{
    display: flex;
    align-items: center;
    margin-right: 5%;
    height: 4vh;
}
.login_form_container .login_form > .left > .left_container .remember_forgot_container .right{
    display: flex;
    align-items: center;
    height: 4vh;
}
.login_form_container .login_form > .left > .left_container .remember_forgot_container .remember_me,
.login_form_container .login_form > .left > .left_container .remember_forgot_container .forgot_pass{
    font-family: 'Poppins', sans-serif;
    font-size: .9rem;
    color: #B9B9B9;
    white-space: nowrap;
}
.login_form_container .login_form > .left > .left_container .remember_forgot_container .left > .remember_me{
    margin-left: 2%;
}
.login_form_container .login_form > .left > .left_container .remember_forgot_container .forgot_pass:hover{
    cursor: pointer;
    text-decoration: underline;
    opacity: 80%;
}
.login_form_container .login_form > .left > .left_container .sign_in_btn{
    height: 6vh;
    width: 100%;
    background-color: #FFAA28;
    border: none;
    border-radius: 8px;
    display: flex;
    color: #ffff;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    margin-top: 3%;
}
.login_form_container .login_form > .left > .left_container .sign_in_btn:hover{
    opacity: 70%;
}
.login_form_container .login_form > .right_part{
    background: url('../images/login/login_img.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login_form_container .login_form > .right_part .cict_logo{
    width: 65%;
    height: auto;
}

@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
       transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
       transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
       transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
       transform: scale(1);
    }
}
.dont_have_account_text{
    margin: 0;
    margin-top: 3%;
    text-align: center;
    font-size: .8rem;
    font-family: 'Poppins', sans-serif;
    color: #666666;
    margin-bottom: 10%;
}
.dont_have_account_text span{
    color: #FB6340;
    font-weight: bold;
}
.dont_have_account_text span:hover{
    cursor: pointer;
    text-decoration: underline;
}

/*FOOTER*/
.login_container .footer{ 
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
}
.login_container .footer span{
    font-family: 'Poppins', sans-serif;
    font-size: .8rem;
    color: #fff;
    margin: 0 3%;
    margin-bottom: 1%;
    text-align: center;
}
.login_container .footer .footer_clickable:hover{
    cursor: pointer;
    color: rgb(241, 240, 240);
    text-decoration: underline;
}




/*REGISTER*/
.register_form_container{
	-webkit-animation: flip-vertical-bck 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse ;
	animation: flip-vertical-bck 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse ;
}
@-webkit-keyframes flip-vertical-bck {
    0% {
      -webkit-transform: translateZ(0) rotateY(0);
      transform: translateZ(0) rotateY(0);
    }
    100% {
      -webkit-transform: translateZ(-260px) rotateY(-180deg);
      transform: translateZ(-260px) rotateY(-180deg);
    }
  }
  @keyframes flip-vertical-bck {
    0% {
      -webkit-transform: translateZ(0) rotateY(0);
      transform: translateZ(0) rotateY(0);
    }
    100% {
      -webkit-transform: translateZ(-260px) rotateY(-180deg);
      transform: translateZ(-260px) rotateY(-180deg);
    }
  }
.already_have_account_text{
    margin: 0;
    margin-top: 2%;
    font-size: .8rem;
    font-family: 'Poppins', sans-serif;
    color: #666666;
    margin-bottom: 10%;
}
.already_have_account_text span{
    color: #FB6340;
    font-weight: bold;
}
.already_have_account_text span:hover{
    cursor: pointer;
    text-decoration: underline;
}
.sign_up_btn{
    height: 6vh;
    width: 100%;
    background-color: #FFAA28;
    border: none;
    border-radius: 8px;
    display: flex;
    color: #ffff;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    margin-top: 5%;
}
.sign_up_btn:hover{
    opacity: 70%;
}
.terms_and_service{
    margin: 0;
    margin-left: 1%;
    margin-top: 2%;
    margin-bottom: 7%;
    font-family: 'Poppins', sans-serif;
    font-size: .7rem;
    color: #666666;
    text-align: center;
}
.terms_and_service span{
    color: #CA861E;
}
.terms_and_service span:hover{
    cursor: pointer;
    text-decoration: underline;
}



/*FORGOT PASSWORD*/
.forgot_password_container{
    -webkit-animation: slide-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.login_form_container .login_form > .left .left_container .forgot_header{
    margin-top: 10%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
}
.login_form_container .login_form > .left .left_container .forgot_header h1{
    margin: 0;
    padding: 0;
}
.login_form_container .login_form > .left .left_container .forgot_header .back{
    font-size: 3rem;
    margin: 0;
    margin-top: 0%;
    font-weight: bold;
    color: #FFAA28;
}
.login_form_container .login_form > .left .left_container .forgot_header .back:hover{
    cursor: pointer;
    color: #ffd494;
}
.login_form_container .login_form .left .left_container .forgot_subtext{
    font-family: 'Poppins', sans-serif;
    color: #B9B9B9;
    font-size: .8rem;
}
.forgot_pass_btn{
    height: 6vh;
    width: 100%;
    background-color: #FFAA28;
    border: none;
    border-radius: 8px;
    display: flex;
    color: #ffff;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    margin-top: 5%;
    margin-bottom: 5%;
}
.forgot_pass_btn:hover{
    opacity: 70%;
}


/*FORMS ERROR HANDLER*/
.form_handler_container{
    padding: 3% 0;
    margin-top: 4%;
    height: auto;
    width: 100%;
    background-color: #f7526d;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: none;
    align-items: center;
}
.form_handler_container .img_verifyer{
    height: 4vh;
    width: auto;
    margin-left: 3%;
    margin-right: 3%;
}
.form_handler_container .text_verifyer{
    margin: 0;
    margin-right: 3%;
    font-family: 'Poppins', sans-serif;
    color: #ffff;
    font-size: .8rem;
    line-height: 1;
}


/*RESPONSIVE*/
@media screen and (max-width: 799px) {
    .home_container_btn{
        padding: 2% 0;
        padding-left: 1%;
        padding-right: 2%;
    }
    .login_form_container .login_form > .left{
        width: 100%;
    }
    .login_form_container .login_form > .right{
        display: none;
    }
    .dont_have_account_text{
        margin-bottom: 7%;
    }
}

     
  
@media only screen 
and (max-device-width : 1281px) 
and (max-device-height : 961px){
    .login_form_container .login_form > .right{
   
    }
}   
@media only screen 
and (max-device-width : 1281px) 
and (max-device-height : 721px){
    .login_form_container .login_form > .right{
        height: auto;
    }
}   
@media only screen 
and (max-device-width : 1281px) 
and (max-device-height : 769px){
    .login_form_container .login_form > .right{
        height: auto;
    }
}   
@media only screen 
and (max-device-width : 1281px) 
and (max-device-height : 601px){
    .login_form_container .login_form > .right{
        height: auto;
    }
}   